@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Journal Voucher";
}

<br />
<div class="text-end">
    <img src="~/img/Filpride.jpg" height="" width="130px" />
</div>
<div class="text-center">
    <h2><u><b>&nbsp;FILPRIDE RESOURCES INC.&nbsp;</b></u></h2>
    <p style="line-height: 1; margin-top:-7px;">
        57 Westgate Offices, Sampson RO CBD, Subic Bay, Freeport Zone,<br />
        Kalaklan Olongapo City, 2000 Zambales Philippines<br />
        VAT Reg. TIN: 000-216-589-00000
    </p>

    <h3><span style="display: inline-block;"><b>JOURNAL VOUCHER</b></span></h3>
    <div class="text-end" style="margin-top:-60px;">
        <h6><b>No.&nbsp;JV0000000001</b></h6>
    </div>

</div>

<div class="table-responsive" style="margin-top:50px;">
    <table class="w-100">
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td class="w-25 text-end">Date : 11/17/2023</td>
            </tr>
            <tr>
                <td>CATEGORY :</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>REFERENCES:</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>CV # :</td>
                <td>CV0000000002</td>
                <td>CR # :</td>
                <td></td>
            </tr>
            <tr>
                <td>CHECK # :</td>
                <td>123456789</td>
                <td>AMOUNT :</td>
                <td>-</td>
            </tr>
            <tr>
                <td>CV DATE</td>
                <td>11/16/2023</td>
                <td>DATE :</td>
                <td></td>
            </tr>
            <tr>
                <td>PAYEE</td>
                <td>Supplier ABC</td>
                <td>JV Reason :</td>
                <td>Depriciation</td>
            </tr>
            <tr>
                <td>PARTICULARS:</td>
                <td>Depriciation of storage tank</td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="table-responsive" style="margin-top:20px;">
    <table class="w-100">
        <thead>
            <tr style="border: 1px solid black;">
                <th colspan="4" style="padding-left:20px;">ACCOUNTING ENTRIES</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="padding-left:20px;"><i>Account Name/Title</i></td>
                <th class="text-end">DEBIT</th>
                <th class="text-end">CREDIT</th>
            </tr>
            <tr>
                <td style="width:60%; padding-left:20px;">5010105  Depreciation Expense</td>
                <td class="text-end" style="width:7%;">100.00</td>
                <td style="width:7%;"></td>
            </tr>
            <tr style="border-bottom:double;">
                <td style="padding-left:20px;">1020202  Accummulated Depreciation-Equipment</td>
                <td></td>
                <td class="text-end">100.00</td>
            </tr>
            <tr>
                <td></td>
                <td class="text-end">100.00</td>
                <td class="text-end">100.00</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="table-responsive" style="margin-top:20px;">
    <table class="w-100">
        <tbody class="text-center">
            <tr>
                <td>Prepared by :</td>
                <td>Reviewed by </td>
                <td>Approved by </td>
            </tr>
            <tr>
                <td style="width:33%;">
                    <br />
                    <span class="underline" style="display: inline-block; width:60%;">&nbsp;</span> <br />
                    GOMER GOLINGAN
                </td>
                <td style="width:33%;">
                    <br />
                    <span class="underline" style="display: inline-block; width:60%;">&nbsp;</span> <br />
                    GENERAL
                    ACCOUNTANT
                </td>
                <td style="width:33%;">
                    <br />
                    <span class="underline" style="display: inline-block; width:60%;">&nbsp;</span> <br />
                    RTM
                </td>
            </tr>
        </tbody>
    </table>
</div>
<br />

<div class="text-center w-100" style="margin-top:20px;">
    <p @* style="line-height: 1;" *@>
        <span>Acknowledgement Certificate No:</span>
        <span style="display: inline-block; width: 30%;"></span>
        <span>Date Issued:</span>
        <span style="display: inline-block; width: 15%;"></span><br />
        Series from: JV0000000001 - JV9999999999
        Date and Time Created:&nbsp; 11/17/2023 12:01:16 PM
    </p>
</div>
<br />
<div class="text-start w-100 footer" style="margin-top:50px;">
    <p style="line-height: 1;">
        <em>
            <strong>Software Name :</strong> Accounting Administration System (AAS)
            <br />
            <strong>Version :</strong> v1.0
            <br />
            <strong>Printed By :</strong> @UserManager.GetUserName(User).ToUpper()
            <br />
            <strong>Date & Time Printed :</strong> @DateTime.Now.ToString("MM/dd/yyyy hh:mm tt")
        </em>
    </p>
</div>

<div class="text-end">
    ORIGINAL COPY
</div>

@* <div class="text-end">
    REPRINT COPY
</div> *@

<div>
    <a class="btn btn-success" onclick="printPage()" id="printButton">Print</a>
    <a asp-action="OrderSlip" class="btn" id="otherButton">Back</a>
</div>

@section Scripts{
    <script>
        var originalFontSizes = [];
        function printPage() {
            var printButton = document.getElementById("printButton");
            var otherButton = document.getElementById("otherButton");

            // Hide the header and footer
            document.querySelector("header").style.display = "none";
            document.querySelector("footer").style.display = "none";

            // Hide the buttons before printing
            if (printButton) {
                printButton.style.visibility = "hidden";
            }
            if (otherButton) {
                otherButton.style.visibility = "hidden";
            }

            // Get all paragraph elements
            var paragraphs = document.querySelectorAll("p");

            // Store the original font sizes
            for (var i = 0; i < paragraphs.length; i++) {
                originalFontSizes[i] = paragraphs[i].style.fontSize;
                // Set the font size of all paragraph elements to 12px for printing
                paragraphs[i].style.fontSize = "12px";
            }

            // Get all table text elements
            var mytable = document.querySelectorAll("table");

            // Store the original font sizes
            for (var i = 0; i < mytable.length; i++) {
                originalFontSizes[i] = mytable[i].style.fontSize;
                // Set the font size of all paragraph elements to 12px for printing
                mytable[i].style.fontSize = "12px";
            }

            // Call the print function
            window.print();

            // Restore the font sizes
            for (var i = 0; i < paragraphs.length; i++) {
                paragraphs[i].style.fontSize = originalFontSizes[i];
            }

            // Restore the font sizes
            for (var i = 0; i < mytable.length; i++) {
                mytable[i].style.fontSize = originalFontSizes[i];
            }

            // Restore the buttons' visibility after printing (optional)
            if (printButton) {
                printButton.style.visibility = "visible";
            }
            if (otherButton) {
                otherButton.style.visibility = "visible";
            }

            // Restore the header and footer's visibility after printing (optional)
            document.querySelector("header").style.display = "";
            document.querySelector("footer").style.display = "";
        }
    </script>
}