@model Accounting_System.Models.ReceivingReport

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>
<partial name="_Notification">
<h4>ReceivingReport</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input type="date" asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="POId" class="control-label"></label>
                <select asp-for="POId" class ="form-control js-select2" asp-items="@Model.PurchaseOrders">
                    <option></option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="TruckOrVessels" class="control-label"></label>
                <input asp-for="TruckOrVessels" class="form-control" />
                <span asp-validation-for="TruckOrVessels" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantityDelivered" class="control-label"></label>
                <input asp-for="QuantityDelivered" class="form-control" />
                <span asp-validation-for="QuantityDelivered" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantityReceived" class="control-label"></label>
                <input asp-for="QuantityReceived" class="form-control" />
                <span asp-validation-for="QuantityReceived" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OtherRef" class="control-label"></label>
                <input asp-for="OtherRef" class="form-control" />
                <span asp-validation-for="OtherRef" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remarks" class="control-label"></label>
                <textarea asp-for="Remarks" class="form-control"></textarea>
                <span asp-validation-for="Remarks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        document.getElementById('Date').value = new Date().toISOString().substring(0, 10);
    </script>
}
