@using Accounting_System.Models.AccountsPayable
@model ReceivingReport

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>ReceivingReport</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="Date" class="control-label">Date</label>
                <input asp-for="Date" type="date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="POId" class="control-label">PO No.</label>
                <select asp-for="POId" class="form-control js-select2" asp-items="@Model.PurchaseOrders" disabled readonly></select>
                <input type="hidden" asp-for="POId" />
            </div>
            <div class="form-group mb-3">
                <label asp-for="SupplierInvoiceNumber" class="control-label"></label>
                <input asp-for="SupplierInvoiceNumber" class="form-control" />
                <span asp-validation-for="SupplierInvoiceNumber" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="SupplierInvoiceDate" class="control-label"></label>
                <input asp-for="SupplierInvoiceDate" type="date" class="form-control" />
                <span asp-validation-for="SupplierInvoiceDate" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="TruckOrVessels" class="control-label">Truck/Vessels</label>
                <input asp-for="TruckOrVessels" class="form-control" />
                <span asp-validation-for="TruckOrVessels" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="QuantityDelivered" class="control-label">Qty Delivered</label>
                <input asp-for="QuantityDelivered" class="form-control" disabled readonly />
                <input type="hidden" asp-for="QuantityDelivered" />
            </div>
            <div class="form-group mb-3">
                <label asp-for="QuantityReceived" class="control-label">Qty Received</label>
                <input asp-for="QuantityReceived" class="form-control" disabled readonly />
                <input type="hidden" asp-for="QuantityReceived" />
            </div>
            <div class="form-group mb-3">
                <label asp-for="OtherRef" class="control-label"></label>
                <input asp-for="OtherRef" class="form-control" />
                <span asp-validation-for="OtherRef" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Remarks" class="control-label">Remarks</label>
                <textarea asp-for="Remarks" class="form-control" style="height: 100px"></textarea>
                <input type="hidden" asp-for="Remarks" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
