@using Accounting_System.Models.AccountsReceivable
@model ServiceInvoice

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>
<h4>SERVICE INVOICE</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="CustomerId" class="control-label"></label>
                <input asp-for="CustomerId" class="form-control" hidden />
                <input value="@Model.Customer.Name" class="form-control" disabled readonly />
            </div>
            <div class="form-group mb-3">
                <label asp-for="ServicesId" class="control-label"></label>
                <input asp-for="ServicesId" class="form-control" hidden />
                <input value="@Model.Service.Name" class="form-control" disabled readonly />
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Discount" id="floatingInput" type="text" class="form-control" placeholder="Optional" />
                <label for="floatingInput" class="control-label">Discount</label>
                <span asp-validation-for="Discount" class="text-danger"></span>
            </div>
            <div id="period-amount-fields" class="row g-2">
                <div class="col-sm mb-3">
                    <label asp-for="Period" class="control-label">Period</label>
                    <input asp-for="Period" type="month" class="form-control" />
                    <span asp-validation-for="Period" class="text-danger"></span>
                </div>

                <div class="col-sm mb-3">
                    <label asp-for="Amount" class="control-label">Amount</label>
                    <input asp-for="Amount" class="form-control money" placeholder="0.00" />
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}
