@using Accounting_System.Models.AccountsPayable
@model PurchaseOrder

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>
<partial name="_Notification">
<h4>PurchaseOrder</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group mb-3">
                <label asp-for="Date" class="control-label"></label><span class="required">*</span>
                <input type="date" asp-for="Date" class="form-control" required/>
                <span asp-validation-for="Date" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                <label asp-for="SupplierId" class="control-label"></label><span class="required">*</span>
                <select asp-for="SupplierId" class="form-control js-select2" asp-items="@Model.Suppliers" style="width:100%">
                    <option></option>
                </select>
                <span asp-validation-for="SupplierId" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="ProductId" class="control-label"></label><span class="required">*</span>
                    <select asp-for="ProductId" class="form-control js-select2" asp-items="@Model.Products" style="width:100%">
                        <option></option>
                    </select>
                    <span asp-validation-for="ProductId" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Terms" class="control-label"></label><span class="required">*</span>
                    <select asp-for="Terms" class="form-select js-select2" style="width:100%">
                        <option value="" selected disabled>-- Select the Terms --</option>
                        <option value="COD">COD</option>
                        <option value="7D">7D</option>
                        <option value="15D">15D</option>
                        <option value="30D">30D</option>
                        <option value="M15">M15</option>
                        <option value="M30">M30</option>
                    </select>
                    <span asp-validation-for="Terms" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                <label asp-for="Quantity" class="control-label"></label><span class="required">*</span>
                <input asp-for="Quantity" class="form-control money" value="" placeholder="0" required/>
                <span asp-validation-for="Quantity" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                <label asp-for="Price" class="control-label"></label><span class="required">*</span>
                <input asp-for="Price" class="form-control money" value="" placeholder="0.00" required/>
                <span asp-validation-for="Price" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <textarea asp-for="Remarks" class="form-control" placeholder="Input the remarks here." style="height: 100px"></textarea>
                    <label asp-for="Remarks" class="control-label">Remarks<span class="required">*</span></label>
                    <span asp-validation-for="Remarks" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
     // Get the current date in the format "YYYY-MM-DD" (required for the date input)
     var currentDate = new Date().toISOString().slice(0, 10);

     // Set the default value of the input field
     document.getElementById("Date").value = currentDate;
    </script>
}