@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


<br />
<div class="text-end">
    <img src="~/img/Filpride.jpg" height="" width="130px" />
</div>
<div class="text-center">
    <h2><u><b>&nbsp;FILPRIDE RESOURCES INC.&nbsp;</b></u></h2>
    <p style="line-height: 1; margin-top:-7px;">
        57 Westgate Offices, Sampson RO CBD, Subic Bay, Freeport Zone,<br />
        Kalaklan Olongapo City, 2000 Zambales Philippines<br />
        VAT Reg. TIN: 000-216-589-00000
    </p>

    <h3><span style="display: inline-block;"><b>Purchase Order</b></span></h3>
    <div class="text-end" style="margin-top:-60px;">
        <h6><b>PO No.&nbsp;PO0000000001</b></h6>
    </div>

</div>

<div class="table-responsive" style="margin-top:50px;">
    <table class="w-100">
        <tbody>
            <tr style="padding-left:10px;">
                <td class="w-75">Supplier: &nbsp;INSULAR OIL CORP</td>
                <td class="w-25">November 09,&nbsp; 2023 &nbsp;</td>
            </tr>
            <tr style="padding-left:10px;">
                <td>Address: &nbsp;Bagumbayan, Quezon City</td>
                <td></td>
            </tr>
            <tr style="padding-left:10px;">
                <td>TIN No.: &nbsp;001-235-846-000</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="table-responsive" style="margin-top:50px;">
    <table class="w-100">
        <thead>
            <tr style="padding-left:10px;">
                <th class="w-25">Product Name</th>
                <th class="w-25">Quantity</th>
                <th class="w-25">Price</th>
                <th class="w-25">Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="w-25">BIODIESEL</td>
                <td class="w-25">100.00</td>
                <td class="w-25">19.00</td>
                <td class="w-25">1,900.00</td>
            </tr>
        </tbody>
    </table>
</div>
<br /><br /><br /><br /><br /><br /><br /><br />
<div class="text-center w-100" style="margin-top:20px;">
    <p @* style="line-height: 1;" *@>
        <span>Acknowledgement Certificate No:</span>
        <span style="display: inline-block; width: 30%;"></span>
        <span>Date Issued:</span>
        <span style="display: inline-block; width: 15%;"></span><br />
        Series from: PO0000000001 - PO9999999999
        Date and Time Created:&nbsp;11/09/2023 01:50:31 PM
</div>

<div class="text-start w-100 footer" style="margin-top:50px;">
    <p style="line-height: 1;">
        <em>
            <strong>Software Name :</strong> Accounting Administration System (AAS)
            <br />
            <strong>Version :</strong> v1.0
            <br />
            <strong>Printed By :</strong> @UserManager.GetUserName(User).ToUpper()
            <br />
            <strong>Date & Time Printed :</strong> @DateTime.Now.ToString("MM/dd/yyyy hh:mm tt")
        </em>
    </p>
</div>
<div>
    <a class="btn btn-success" onclick="printPage()" id="printButton">Print</a>
    <a class="btn" id="otherButton">Back</a>
</div>

@section Scripts{
    <script>
        var originalFontSizes = [];
        function printPage() {
            var printButton = document.getElementById("printButton");
            var otherButton = document.getElementById("otherButton");

            // Hide the header and footer
            document.querySelector("header").style.display = "none";
            document.querySelector("footer").style.display = "none";

            // Hide the buttons before printing
            if (printButton) {
                printButton.style.visibility = "hidden";
            }
            if (otherButton) {
                otherButton.style.visibility = "hidden";
            }

            // Get all paragraph elements
            var paragraphs = document.querySelectorAll("p");

            // Store the original font sizes
            for (var i = 0; i < paragraphs.length; i++) {
                originalFontSizes[i] = paragraphs[i].style.fontSize;
                // Set the font size of all paragraph elements to 12px for printing
                paragraphs[i].style.fontSize = "12px";
            }

            // Get all table text elements
            var mytable = document.querySelectorAll("table");

            // Store the original font sizes
            for (var i = 0; i < mytable.length; i++) {
                originalFontSizes[i] = mytable[i].style.fontSize;
                // Set the font size of all paragraph elements to 12px for printing
                mytable[i].style.fontSize = "12px";
            }

            // Call the print function
            window.print();

            // Restore the font sizes
            for (var i = 0; i < paragraphs.length; i++) {
                paragraphs[i].style.fontSize = originalFontSizes[i];
            }

            // Restore the font sizes
            for (var i = 0; i < mytable.length; i++) {
                mytable[i].style.fontSize = originalFontSizes[i];
            }

            // Restore the buttons' visibility after printing (optional)
            if (printButton) {
                printButton.style.visibility = "visible";
            }
            if (otherButton) {
                otherButton.style.visibility = "visible";
            }

            // Restore the header and footer's visibility after printing (optional)
            document.querySelector("header").style.display = "";
            document.querySelector("footer").style.display = "";
        }
    </script>
}