@using Accounting_System.Models.MasterFile
@model Supplier

@{
    ViewData["Title"] = "EDIT";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="loader-container">
    <div class="loader"></div>
    <div class="loader-text">Loading...</div>
</div>
<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">@ViewData["Title"]</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SupplierId" value="@Model.SupplierId"/>
            <fieldset class="form-group mb-3">
                <legend>Select Category</legend>

                <div class="form-check form-check-inline mb-3">
                    <input asp-for="Category" class="form-check-input" type="radio" id="inlineRadio1" value="Trade" aria-labelledby="labelInlineRadio1" onclick="toggleSelect('tradeList')">
                    <label class="form-check-label" for="inlineRadio1" id="labelInlineRadio1">Trade</label>
                </div>

                <div class="form-check form-check-inline">
                    <input asp-for="Category" class="form-check-input" type="radio" id="inlineRadio2" value="Non-Trade" aria-labelledby="labelInlineRadio2" onclick="toggleSelect('nonTradeList')">
                    <label class="form-check-label" for="inlineRadio2" id="labelInlineRadio2">Non-Trade</label>
                </div>
                <br />
                <span class="text-danger"></span>
            </fieldset>
            <div class="form-floating mb-3" id="tradeList" style="display: none;">
                <input asp-for="TradeName" class="form-control" placeholder="" />
                <label asp-for="TradeName" class="control-label">Trade Name<span class="required">*</span></label>
                <span asp-validation-for="TradeName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="SupplierName" class="form-control" placeholder="" />
                <label asp-for="SupplierName" class="control-label">Name<span class="required">*</span></label>
                <span asp-validation-for="SupplierName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="SupplierAddress" class="form-control" placeholder="" />
                <label asp-for="SupplierAddress" class="control-label">Address<span class="required">*</span></label>
                <span asp-validation-for="SupplierAddress" class="text-danger"></span>
            </div>
            <div class="form-floating col mb-3">
                <input asp-for="ZipCode" class="form-control" placeholder="" maxlength="4"/>
                <label asp-for="ZipCode" class="control-label ms-2">Zip Code<span class="required">*</span></label>
                <span asp-validation-for="ZipCode" class="text-danger"></span>
            </div>
            <div class="row mb-3">
                <div class="form-floating col">
                    <input asp-for="SupplierTin" class="form-control formattedTinNumberInput" placeholder="" maxlength="17"/>
                    <label asp-for="SupplierTin" class="control-label ms-2">Tin No<span class="required">*</span></label>
                    <span asp-validation-for="SupplierTin" class="text-danger"></span>
                </div>
                <div class="form-floating col">
                    <input asp-for="Branch" class="form-control" placeholder="" />
                    <label asp-for="Branch" class="control-label ms-2">Branch<span class="required">*</span></label>
                    <span asp-validation-for="Branch" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group mb-3" id="nonTradeList" style="display: none;">
                <label class="control-label">Default Expense</label>
                <select asp-for="DefaultExpenseNumber" asp-items="@Model.DefaultExpenses" class="form-select js-select2" style="width: 100%">
                    <option></option>
                </select>
                <span asp-validation-for="DefaultExpenseNumber" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="SupplierTerms" class="control-label"></label><span class="required">*</span>
                <select asp-for="SupplierTerms" class="form-select js-select2">
                    <option value="" selected disabled>-- Select the Terms --</option>
                    <option value="COD">COD</option>
                    <option value="7D">7D</option>
                    <option value="7D">10D</option>
                    <option value="15D">15D</option>
                    <option value="30D">30D</option>
                    <option value="30D">45D</option>
                    <option value="30D">60D</option>
                    <option value="M15">M15</option>
                    <option value="M15">M29</option>
                    <option value="M30">M30</option>
                </select>
                <span asp-validation-for="SupplierTerms" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="VatType" class="control-label"></label><span class="required">*</span>
                <div class="col">
                    <select asp-for="VatType" class="form-select js-select2">
                        <option value="" selected disabled>-- Select the Supplier VAT Type --</option>
                        <option value="Vatable">VATable</option>
                        <option value="Zero Rated">Zero Rated</option>
                        <option value="Exempt">Exempt</option>
                    </select>
                    <span asp-validation-for="VatType" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group mb-3">
                <label asp-for="TaxType" class="control-label"></label><span class="required">*</span>
                <div class="col">
                    <select asp-for="TaxType" class="form-select js-select2" onchange="toggleExemptionFields(this)">
                        <option value="" selected disabled>-- Select the Supplier TAX Type --</option>
                        <option value="Withholding Tax">Withholding Tax</option>
                        <option value="Exempt">Exempt</option>
                    </select>
                    <span asp-validation-for="TaxType" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group mb-3" id="WithholdingTaxPercent" style="display: none;">
                <label class="control-label">Percent</label>
                <select asp-for="WithholdingTaxtitle" asp-items="@Model.WithholdingTaxList" class="form-select js-select2" style="width: 100%">
                    <option></option>
                </select>
                <span asp-validation-for="WithholdingTaxPercent" class="text-danger"></span>
            </div>
            <div id="exemptionFields" style="display:none;">
                <div class="form-floating mb-3">
                    <textarea asp-for="ReasonOfExemption" class="form-control" placeholder="Reason of exemption" style="height: 100px" required></textarea>
                    <label asp-for="ReasonOfExemption" class="control-label">Reason<span class="required">*</span></label>
                    <span asp-validation-for="ReasonOfExemption" class="text-danger"></span>
                </div>
                <fieldset class="mb-3">
                    <legend>Validity<span class="required">*</span></legend>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" asp-for="Validity" value="Permanent" onchange="toggleValidityDate(this)" required>
                        <label class="form-check-label" asp-for="Validity">Permanent</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" asp-for="Validity" value="Temporary" onchange="toggleValidityDate(this)">
                        <label class="form-check-label" asp-for="Validity">Temporary</label>
                    </div>
                    <span asp-validation-for="Validity" class="text-danger"></span>
                </fieldset>
                <div id="validityDateField" class="form-group mb-3">
                    <label asp-for="ValidityDate" class="control-label">Validity Date<span class="required">*</span></label>
                    <input asp-for="ValidityDate" type="date" value="yyyy-MM-dd" class="form-control" required />
                    <span asp-validation-for="ValidityDate" class="text-danger"></span>
                </div>
            </div>
            <div class="row pt-2">
                <div class="col-6 col-md-3">
                    <button type="submit" class="btn btn-primary form-control">Save</button>
                </div>
                <div class="col-6 col-md-3">
                    <a asp-controller="Supplier" asp-action="Index" class="btn btn-outline-primary border  form-control ">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function toggleExemptionFields(selectElement) {
            const exemptionFields = document.getElementById("exemptionFields");
            const withHoldingTaxPercent = document.getElementById("WithholdingTaxPercent");
            let inlineRadio2 = document.getElementById('inlineRadio2');

            if (selectElement.value === "Withholding Tax" && inlineRadio2.checked === true) {
                exemptionFields.style.display = "none";
                withHoldingTaxPercent.style.display = "block";
            } else {
                exemptionFields.style.display = "block";
                withHoldingTaxPercent.style.display = "none";
                $(".withHoldingTaxPercent").val(null).trigger('change');
            }

            if (inlineRadio1.checked === true) {
                withHoldingTaxPercent.style.display = "none";
            }
        }

        function toggleValidityDate(radioButton) {
            const validityDateField = document.getElementById("validityDateField");
            validityDateField.style.display = radioButton.value === "Permanent" ? "none" : "block";
        }

        window.onload = function () {
            let inlineRadio1 = document.getElementById('inlineRadio1');
            let inlineRadio2 = document.getElementById('inlineRadio2');

            // Check the default radio button on page load
            if (inlineRadio1.checked) {
                document.getElementById('tradeList').style.display = 'block';
                document.getElementById('nonTradeList').style.display = 'none';
            } else if (inlineRadio2.checked) {
                document.getElementById('tradeList').style.display = 'none';
                document.getElementById('nonTradeList').style.display = 'block';
                document.getElementById('WithholdingTaxPercent').style.display = 'block';
            }
        };

        function toggleSelect(id) {
            let tradeList = document.getElementById('tradeList');
            let nonTradeList = document.getElementById('nonTradeList');
            let inlineRadio1 = document.getElementById('inlineRadio1');
            let inlineRadio2 = document.getElementById('inlineRadio2');
            const withHoldingTaxPercent = document.getElementById("WithholdingTaxPercent");

            if (id === 'tradeList') {
                tradeList.style.display = 'block';
                nonTradeList.style.display = 'none';
                inlineRadio1.checked = true;
                inlineRadio2.checked = false;
                $("#DefaultExpenseNumber").val(null).trigger('change');
                $(".withHoldingTaxPercent").val(null).trigger('change');
                withHoldingTaxPercent.style.display = 'none';
            } else if (id === 'nonTradeList') {
                tradeList.style.display = 'none';
                nonTradeList.style.display = 'block';
                inlineRadio1.checked = false;
                inlineRadio2.checked = true;
                $("#TradeName").val("");
                withHoldingTaxPercent.style.display = 'block';
                $("#TaxType").val(null).trigger('change');
            }
        }
    </script>
}
