html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: Roboto,sans-serif;
}

/*tab navigation*/
.login-logout-card .card-header {
    padding: 0px 0px 12px 0px;
}

.login-logout-card ul.nav-tabs {
    margin: 0px 0px -12px 0px;
}

.login-logout-card li.nav-item {
    width: 50%;
}

.login-logout-card a.nav-link {
    font-size: 1rem;
    color: #495057;
    text-align: center;
    padding: 1rem;
}

.login-logout-card .card-body {
    padding: 10px 20px;
}

@media print {
    .footer {
        position: fixed;
        bottom: 50px;
        text-align:center;
    }

    p {
        font-size: 12px;
    }

    table {
        font-size: 12px;
    }

    #printButton {
        display: none;
        visibility: hidden;
    }

    #otherButton {
        display: none;
        visibility: hidden;
    }

    header {
        display: none;
        visibility: hidden;
    }
    footer {
        display: none;
        visibility: hidden;
    }
}

.underline {
    border-bottom: 1px solid black !important;
}


 /*Uncomment this code for debugging purposes */
/**{
    border: 1px solid red;
}*/

.dropdown:hover .dropdown-menu {
    display: block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.required {
    color:red;
    margin-left:2px;
}