html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: Roboto,sans-serif;
}

/*tab navigation*/
.login-logout-card .card-header {
    padding: 0px 0px 12px 0px;
}

.login-logout-card ul.nav-tabs {
    margin: 0px 0px -12px 0px;
}

.login-logout-card li.nav-item {
    width: 50%;
}

.login-logout-card a.nav-link {
    font-size: 1rem;
    color: #495057;
    text-align: center;
    padding: 1rem;
}

.login-logout-card .card-body {
    padding: 10px 20px;
}

@media print {
    .footer {
        position: fixed;
        bottom: 50px;
       /* left: 0;*/
        text-align:center;
    }

    body {
        margin: 0 !important;
    }

    @page {
        margin: 24px 0px 0px 0px !important; /* Sets the top margin to 24px and the others to 0 */
    }
}

.underline {
    border-bottom: 1px solid black !important;
}


 /*Uncomment this code for debugging purposes */
/**{
    border: 1px solid red;
}*/

.dropdown:hover .dropdown-menu {
    display: block;
}