@using System.ComponentModel.DataAnnotations;
@model Accounting_System.Models.Customer

@{
    ViewData["Title"] = "Create Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mb-3">
                <input asp-for="Name" class="form-control" placeholder="" />
                <label asp-for="Name" class="control-label"></label>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Address" class="form-control" placeholder="" />
                <label asp-for="Address" class="control-label"></label>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="TinNo" class="form-control" placeholder="" />
                <label asp-for="TinNo" class="control-label"></label>
                <span asp-validation-for="TinNo" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="BusinessStyle" class="form-control" placeholder="" />
                <label asp-for="BusinessStyle" class="control-label"></label>
                <span asp-validation-for="BusinessStyle" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Terms" class="control-label"></label>
                <select asp-for="Terms" class="form-select js-select2" style="width:100%">
                <option value="" selected disabled>-- Select the Terms --</option>
                <option value="COD">COD</option>
                <option value="7D">7D</option>
                <option value="15D">15D</option>
                <option value="30D">30D</option>
                <option value="M15">M15</option>
                <option value="M30">M30</option>
                </select>
                <span asp-validation-for="Terms" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="CustomerType" class="control-label"></label>
                <div class="col">
                    <select asp-for="CustomerType" class="form-select js-select2" style="width:100%">
                        <option value="" selected disabled>-- Select the Customer Type --</option>
                        <option value="Vatable">VATable</option>
                        <option value="Zero Rated">Zero Rated</option>
                        <option value="Exempt">Exempt</option>
                    </select>
                    <span asp-validation-for="CustomerType" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group form-check mb-3">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="WithHoldingVat" /> @Html.DisplayNameFor(model => model.WithHoldingVat)
                </label>
            </div>
            <div class="form-group form-check mb-3">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="WithHoldingTax" /> @Html.DisplayNameFor(model => model.WithHoldingTax)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
