@model Accounting_System.Models.Customer

@{
    ViewData["Title"] = "EDIT CUSTOMER";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">@ViewData["Title"]</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="Id" />
                <label asp-for="Name" class="control-label"></label>
                <input type="text" asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TinNo" class="control-label"></label>
                <input asp-for="TinNo" class="form-control" />
                <span asp-validation-for="TinNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BusinessStyle" class="control-label"></label>
                <input asp-for="BusinessStyle" class="form-control" />
                <span asp-validation-for="BusinessStyle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Terms" class="control-label"></label>
                <select asp-for="Terms" class="form-select js-select2 border-0 shadow" style="width:100%; max-height: 200px;">
                    <option value="" selected disabled>Select payment terms</option>
                    <option value="COD">COD</option>
                    <option value="PREPAID">PREPAID</option>
                    <option value="7D">7D</option>
                    <option value="10D">10D</option>
                    <option value="15D">15D</option>
                    <option value="30D">30D</option>
                    <option value="45D">45D</option>
                    <option value="60D">60D</option>
                    <option value="90D">90D</option>
                    <option value="15PDC">15PDC</option>
                    <option value="30PDC">30PDC</option>
                    <option value="45PDC">45PDC</option>
                    <option value="60PDC">60PDC</option>
                    <option value="M15">M15</option>
                    <option value="M29">M29</option>
                    <option value="M30">M30</option>
                </select>
                <span asp-validation-for="Terms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerType" class="control-label"></label>
                <select asp-for="CustomerType" class="form-select js-select2 border-0 shadow">
                    <option value="@Model.CustomerType" selected disabled></option>
                    <option value="Vatable">VATable</option>
                    <option value="Zero Rated">Zero Rated</option>
                    <option value="Exempt">Exempt</option>
                </select>
                <span asp-validation-for="CustomerType" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="WithHoldingVat" /> @Html.DisplayNameFor(model => model.WithHoldingVat)
                </label>
            </div>
            <div class="form-group form-check mb-3">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="WithHoldingTax" /> @Html.DisplayNameFor(model => model.WithHoldingTax)
                </label>
            </div>
            <div class="row pt-2">
                <div class="col-6 col-md-3">
                    <button type="submit" class="btn btn-primary form-control">Save</button>
                </div>
                <div class="col-6 col-md-3">
                    <a asp-controller="Customer" asp-action="Index" class="btn btn-outline-primary border  form-control ">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

