@using System.ComponentModel.DataAnnotations;
@model Accounting_System.Models.SalesOrder

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Customer Order Slip</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateCOS">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Customers</label>
                <select asp-for="CustomerId" asp-items="@Model.Customers" class="form-control js-select2">
                    <option></option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="PO" class="control-label"></label>
                <input asp-for="PO" type="number" class="form-control" />
                <span asp-validation-for="PO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" type="number" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderAmount" class="control-label"></label>
                <input asp-for="OrderAmount" type="number" class="form-control" />
                <span asp-validation-for="OrderAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryDate" class="control-label"></label>
                <input asp-for="DeliveryDate" type="date" class="form-control" />
                <span asp-validation-for="DeliveryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Transaction Date</label>
                <input asp-for="TransactionDate" type="date" class="form-control" />
                <span asp-validation-for="TransactionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remarks" class="control-label"></label>
                <input asp-for="Remarks" class="form-control" />
                <span asp-validation-for="Remarks" class="text-danger"></span>
            </div>

            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="OrderSlip" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
