@{
    ViewData["Title"] = "Sales Invoice";
}
<br />
<div class="text-center">
    <h2><u><b>&nbsp;FILPRIDE RESOURCES INC.&nbsp;</b></u></h2>
    <p style="line-height: 1; margin-top:-7px;">
        57 Westgate Offices, Sampson RO CBD, Subic Bay, Freeport Zone,<br />
    Kalaklan Olongapo City, 2000 Zambales Philippines<br />
    VAT Reg. TIN: 000-216-589-00000</p>
 
    <h3><span style="display: inline-block;"><b>SALES INVOICE</b></span></h3>
    <div class="text-end" style="margin-top:-60px;">
        <h3>A No.0009951</h3>
    </div>

</div>


<table class="w-100" style="margin-top:20px;">
    <tbody>
    <tr>
        <td>
        <span>Sold to:</span>
        <span style="display: inline-block; width:450px;" class="underline">&nbsp;</span><br />
        
        <span>Address:</span>
            <span style="display: inline-block; width:440px;" class="underline">&nbsp;</span><br />

        <span>TIN:</span>
            <span style="display: inline-block; width:473px;" class="underline">&nbsp;</span><br />

        <span>Business Style:</span>
            <span style="display: inline-block; width:395px;" class="underline">&nbsp;</span>
        </td>

        <td>
            <div style="margin-left:150px;">
            Date:<span style="display: inline-block; width:230px;" class="underline">&nbsp;</span><br />

            Terms:<span style="display: inline-block; width:217px;" class="underline">&nbsp;</span><br />

            Ref DR No.:<span style="display: inline-block; width:185px;" class="underline">&nbsp;</span><br />

            P.O. No.:<span style="display: inline-block; width:208px;" class="underline">&nbsp;</span>
            </div>
    </td>
    </tr>
    </tbody>
</table>

<div class="table-responsive" style="margin-top:20px;">
    <table class="table-bordered w-100">
    <tbody>
            <tr class="text-center bg-secondary">
            <td >PRODUCT DESCRIPTION</td>
            <td >UNIT</td>
            <td >QUANTITY</td>
            <td >UNIT PRICE</td>
            <td >AMOUNT</td>
        </tr>
    
    <tr style="height:80px;">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
    </tr>

    </tbody>
</table>
</div>
<div style="margin-top:20px;">
<table class="w-100">
    <tbody>
        <tr>
            <td style="width:33%;">
<div class="table-responsive" >
                        <table class="table-bordered w-100">
        <tbody>

            <tr style="height:140px;">
                <td class="align-text-top">INSTRUCTIONS:</td>
            </tr>

        </tbody>
    </table>
</div>
            </td>
                <td style="width:33%;">
<div>
                        <table class="table-bordered w-100" style="height:140px;">
                            <tbody>

                                <tr class="align-text-top text-center text-nowrap">
                                    <td>
                                        Prepared by
                                        <br /><br />
                                        <span style="display: inline-block; width:110px;" class="underline">Leonard Andulan</span>
                                    </td>
                                    <td>
                                        Approved by
                                        <br /><br />
                                        <span style="display: inline-block; width:110px;" class="underline">Azh Adolfo</span>
                                    </td>

                                </tr>
                                <tr class="align-text-top">
                                    <td colspan="2">
                                        <div style="margin-left:20px;">HAULER/DRIVER</div>
                                        <span style="margin-left:20px; display: inline-block; width:90%;" class="underline">Jumong</span><br />
                                    </td>

                                </tr>

                            </tbody>
    </table>
</div>
            </td>
                <td style="width:33%;">
<div class="table-responsive" >
    <table class="table-bordered w-100">
        <tbody>

            <tr style="height:32px;">
                <td>Vatable Sales</td>
            </tr>
            <tr>
                <td>Vat Exempt Sales</td>
            </tr>
            <tr>
                <td>Zero-Rated Sales</td>
            </tr>
            <tr>
                <td>Vat Amount</td>
            </tr>
            <tr class="bg-secondary">
                <td>Total Sales</td>
            </tr>

        </tbody>
    </table>
</div>
            </td>
</tr>
</tbody>
</table>
</div>
<div style="margin-top:20px;">
    <table class="table-bordered">
        <tbody>
            <tr style="line-height: 1;">
                <td class="align-text-top"><p>RECEIVED the above items in good order and condition. The Undersigned agrees to pay the total amount of this invoice in accordance to the terms appearing to the terms above.</p></td>
                <td class="align-text-top"><p>CONDITION OF SALE - Interest at the rate of 38% per annum will be charge on all overdue accounts and in the event of judicial proceedings to enforce collection, the purchaser will pay a reasonable compensation not less than 25% of the amount due of the attorney's fees and expense of collection in addition to the costs of suit. Any action arising out of the transaction covered by sales invoice shall be brought in the appropriate courts of Pasig City and/or Metro Manila. Goods remain in the property of FILPRIDE RESOURCES INC. until paid in full.</p></td>
            </tr>

        </tbody>
    </table>
</div>
<div style="margin-top:5px;">
    <table class="w-100">
        <tbody>
            <tr class="text-nowrap" style="line-height: 1;">
                <td class="align-text-top"><p>100 Bkits. (50x5) SN.A0005501-A0010500<br />BIR ATP No. OCN:124AU20210000001456<br />Date Issued: 06-17-2021 * Valid Until: 06-16-2026</p></td>
                <td class="align-text-top"><p>CURACHA PRINTING<br />VAT REG TIN:937-809-670-000 * Kelvin C. Roque-Prop.<br />PH 1 ROQUE COMPD., # 37 NPC VILLAGE PAsong Tamo 2,<br />Tandang Sora, Quezon City * Tel. #453-3149/09178574324</p></td>
                <td class="align-text-top"><p>Accreditation No. 028MP20210000000051<br />Accreditation Date: 07-02-2021 * VAlid up to: 07-01-2026</p></td>
            </tr>

        </tbody>
    </table>
</div>
<div class="text-center">
    <p><u>"THIS SALES INVOICE SHALL BE VALID FOR FIVE(5) YEARS FROM THE DATE OF ATP"</u></p>
</div>

<a class="btn btn-success" onclick="printPage()" id="printButton">Print</a>
<a asp-action="ReceivedGP" class="btn" id="otherButton">Back</a>

@section Scripts{
    <script>
        var originalFontSizes = [];

        function printPage() {
            var printButton = document.getElementById("printButton");
            var otherButton = document.getElementById("otherButton");

            // Hide the header and footer
            document.querySelector("header").style.display = "none";
            document.querySelector("footer").style.display = "none";

            // Hide the buttons before printing
            if (printButton) {
                printButton.style.visibility = "hidden";
            }
            if (otherButton) {
                otherButton.style.visibility = "hidden";
            }

            // Get all paragraph elements
            var paragraphs = document.querySelectorAll("p");

            // Store the original font sizes
            for (var i = 0; i < paragraphs.length; i++) {
                originalFontSizes[i] = paragraphs[i].style.fontSize;
                // Set the font size of all paragraph elements to 12px for printing
                paragraphs[i].style.fontSize = "12px";
            }

            // Call the print function
            window.print();

            // Restore the font sizes
            for (var i = 0; i < paragraphs.length; i++) {
                paragraphs[i].style.fontSize = originalFontSizes[i];
            }

            // Restore the buttons' visibility after printing (optional)
            if (printButton) {
                printButton.style.visibility = "visible";
            }
            if (otherButton) {
                otherButton.style.visibility = "visible";
            }

            // Restore the header and footer's visibility after printing (optional)
            document.querySelector("header").style.display = "";
            document.querySelector("footer").style.display = "";
        }
    </script>

}