@using System.ComponentModel.DataAnnotations;
@model Accounting_System.Models.OfficialReceipt

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<partial name="_Notification">
<h1>Create</h1>

<h4>Official Receipt</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateOfficialReceipt">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Customers</label>
                <select asp-for="SOAId" asp-items="@Model.SOANo" class="form-select js-select2">
                    <option></option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" type="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReferenceNo" class="control-label"></label>
                <input asp-for="ReferenceNo" type="text" class="form-control" />
                <span asp-validation-for="ReferenceNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Form of Payment</label>
                <select asp-for="FormOfPayment" class="form-select js-select2">
                    <option value="" selected disabled>Select form of payment...</option>
                    <option value="Cash">Cash</option>
                    <option value="Check">Check</option>
                    <option value="Manager's Check">Manager's Check</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="CheckDate" class="control-label"></label>
                <input asp-for="CheckDate" type="date" class="form-control" />
                <span asp-validation-for="CheckDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckNo" class="control-label"></label>
                <input asp-for="CheckNo" type="number" class="form-control" />
                <span asp-validation-for="CheckNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" type="text" id="DeliveryDate" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Remarks" id="floatingInput" type="text" class="form-control" placeholder="Optional"/>
                <label for="floatingInput" class="control-label">Remarks</label>
                <span asp-validation-for="Remarks" class="text-danger"></span>
            </div>

            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="OfficialReceiptIndex" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        // Get the current date in the format "YYYY-MM-DD" (required for the date input)
        var currentDate = new Date().toISOString().slice(0, 10);

        // Set the default value of the input field
        document.getElementById("CheckDate").value = currentDate;
    </script>
    <script>
        // Get the current date in the format "YYYY-MM-DD" (required for the date input)
        var myDate = new Date().toISOString().slice(0, 10);

        // Set the default value of the input field
        document.getElementById("Date").value = myDate;
    </script>
}
