@using System.ComponentModel.DataAnnotations;
@model Accounting_System.Models.CollectionReceipt

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Collection Receipt</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateCollectionReceipt">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Customers</label>
                <select asp-for="SalesInvoiceId" asp-items="@Model.Customers" class="form-control js-select2">
                    <option></option>
                </select>
            </div>

            @* <div class="form-group">
                <label asp-for="CRNo" class="control-label"></label>
                <input asp-for="CRNo" type="number" class="form-control" />
                <span asp-validation-for="CRNo" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" type="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReferenceNo" class="control-label"></label>
                <input asp-for="ReferenceNo" type="text" class="form-control" />
                <span asp-validation-for="ReferenceNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FormOfPayment" class="control-label"></label>
                <input asp-for="FormOfPayment" type="text" class="form-control" />
                <span asp-validation-for="FormOfPayment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckDate" class="control-label"></label>
                <input asp-for="CheckDate" type="date" class="form-control" />
                <span asp-validation-for="CheckDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckNo" class="control-label"></label>
                <input asp-for="CheckNo" type="number" class="form-control" />
                <span asp-validation-for="CheckNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bank" class="control-label"></label>
                <input asp-for="Bank" type="text" id="DeliveryDate" class="form-control" />
                <span asp-validation-for="Bank" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Branch" class="control-label"></label>
                <input asp-for="Branch" type="text" id="DeliveryDate" class="form-control" />
                <span asp-validation-for="Branch" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" type="text" id="DeliveryDate" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>

            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="OrderSlip" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        // Get the current date in the format "YYYY-MM-DD" (required for the date input)
        var currentDate = new Date().toISOString().slice(0, 10);

        // Set the default value of the input field
        document.getElementById("CheckDate").value = currentDate;
    </script>
    <script>
        // Get the current date in the format "YYYY-MM-DD" (required for the date input)
        var myDate = new Date().toISOString().slice(0, 10);

        // Set the default value of the input field
        document.getElementById("Date").value = myDate;
    </script>
}
